<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmu.discount.mapper.CouponRuleMapper">
    <resultMap id="couponRulePo" type="couponRulePo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="brief" property="brief"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <result column="pic_url" property="picUrl"/>
        <result column="valid_period" property="validPeriod"/>
        <result column="strategy" property="strategy"/>
        <result column="total" property="total"/>
        <result column="goods_list1" property="goodsList1"/>
        <result column="goods_list2" property="goodsList2"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="beDelete"/>
    </resultMap>
    <select id="findCouponRulePoById" parameterType="Integer" resultMap="couponRulePo">
        select id,name,brief,begin_time,end_time,pic_url,valid_period,strategy,total,goods_list1,goods_list2,gmt_create,gmt_modified,is_deleted from coupon_rule where id=#{id}
    </select>

    <insert id="addCouponRulePo" parameterType="couponRulePo" useGeneratedKeys="true" keyProperty="id">
        insert into coupon_rule(name,brief,begin_time,end_time,pic_url,valid_period,strategy,total,goods_list1,goods_list2,gmt_create,gmt_modified,is_deleted)
        values (#{name},#{brief},#{begin_time},#{end_time},#{pic_url},#{valid_period},#{strategy}, #{total}, #{goods_list1}, #{goods_list2},#{gmt_create},#{gmt_modified})
    </insert>

    <delete id="deleteCouponRuleById" parameterType="Integer">
        update coupon_rule is_delete=#{beDelete} WHERE id=1
    </delete>

    <update id="updateCouponRulePo" parameterType="couponRulePo">
        update coupon
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">name=#{name},</if>
            <if test="brief!=null">brief=#{brief},</if>
            <if test="beginTime!=null">begin_time=#{beginTime},</if>
            <if test="endTime!=null">end_time=#{endTime},</if>
            <if test="picUrl!=null">pic_url=#{picUrl},</if>
            <if test="gmtCreate!=null">gmt_create=#{gmtCreate},</if>
            <if test="gmtModified!=null">gmt_modified=#{gmtModified},</if>
            <if test="beDelete!=null">is_delete=#{beDelete},</if>
            <if test="validPeriod!=null">valid_period=#{validPeriod},</if>
            <if test="goodsList1!=null">goods_list1=#{goodsList1},</if>
            <if test="goodsList2!=null">goods_list2=#{goodsList2},</if>
            <if test="strategy!=null">strategy=#{strategy},</if>
            <if test="total!=null">total=#{total}</if>

        </trim>
        WHERE id=#{id}
    </update>

    <select id="getAllCouponRulePos" resultType="CouponRule" >
        select * from coupon_rule
    </select>
</mapper>