<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmu.discount.mapper.GoodsMapper">

    <resultMap id="goodsPo" type="goodsPo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="goods_sn" property="goodsSn"/>
        <result column="short_name" property="shortName"/>
        <result column="description" property="description"/>
        <result column="brief" property="brief"/>
        <result column="pic_url" property="picUrl"/>
        <result column="detail" property="detail"/>
        <result column="status" property="statusCode"/>
        <result column="share_url" property="shareUrl"/>
        <result column="gallery" property="gallery"/>
        <result column="goods_category_id" property="goodsCategoryId"/>
        <result column="brand_id" property="brandId"/>
        <result column="weight" property="weight"/>
        <result column="volume" property="volume"/>
        <result column="special_freight_id" property="specialFreightId"/>
        <result column="is_special" property="beSpecial"/>
        <result column="price" property="price"/>
        <result column="is_deleted" property="beDeleted"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <select id="findCouponById" parameterType="Integer" resultMap="goodsPo">
        select id,name,goods_sn,short_name,description,brief,pic_url,detail,status,share_url,gallery,goods_category_id,brand_id,weight,volume,special_freight_id,is_special,price,is_deleted,gmt_create,gmt_modified from oomall_goods where id=#{goodsId}
    </select>
</mapper>